@import '../../../styles';

.header {
    grid-area: header;
    // background: linear-gradient(180deg, rgba(196, 196, 196, 0.1) 0%, rgba(196, 196, 196, 0) 120%);
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: $large;
        grid-area: title;
        height: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 3;

        @include decoration($large);

    }

    .home__icon {
        display: flex;
        justify-content: flex-end;
        grid-area: home;
        flex-grow: 1;
    }
}