.main__about {
    padding: 0 2rem 2rem 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    h1 {
        color: #fff;
        font-size: 2.5rem;
        text-align: center;
        font-family: 'Zen Dots', cursive;
        margin-bottom: 2rem;
        border: 1px solid #fff;

    }

    .flex {
        display: flex;
        gap: 2rem;
        flex-grow: 1;
    }

    aside.img__profile {
        width: 25%;
        height: 100%;
        background-color: yellow;
    }

    div.introduction {
        width: 75%;
        height: 100%;
        background-color: red;
    }
}