@import '../../../styles';

.main__about {
    padding: 0;

    h1 {
        font-size: $large;
        text-align: center;
        margin-bottom: 2rem;

        @include decoration($large);

    }

    .flex {
        display: flex;
        gap: 2rem;
    }

    aside.img__profile {
        width: 25%;
    }
}