@import '../../../styles';

ul.logos {
    grid-area: skills;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.1) 0%, rgba(196, 196, 196, 0) 120%);
    border-radius: 2rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
        list-style: none;
        height: 60%;

        img {
            height: 100%;
        }
    }
}