@import '../../../styles';

.logos {
    grid-area: skills;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid white;

    h2 {
        text-align: center;
        font-size: $small;
        margin-bottom: 1rem;

        @include decoration($small)
    }

    ul {
        padding: 0 2rem;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 50%;

        li {
            list-style: none;
            height: 100%;

            img {
                height: 100%;
            }
        }
    }
}