.project {
    width: 100%;
    position: relative;
    border-radius: 4rem;
    height: 14rem;


    .description, .name, .extension {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        border-radius: inherit;
        padding: 2rem 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .description {
        background-color: #FF498C;
        left: 0;
    }

    .name {
        display: flex;
        justify-content: space-between;
        background-color: darken(#FF498C, 20%);
        right: 0;

        figure {
            position: absolute;
            top: 50%;
            left: 3rem;
            transform: translateY(-50%); 
            height: 80px;
            width: 80px;
            border-radius: 50%;

            img {
                width: 100%;
            }
        }

        .title {

            flex-grow: 1;

            h3 {
                font-size: 3rem;
                text-align: center;
                padding: .5rem;
                position: relative;
            }
    
            h4 {
                font-size: 1.2rem;
                text-align: center;
                padding: .5rem;
                color: darken(#fff, 10%);
            }

        }

    }

    .extension {
        background-color: #FF498C;
        left: 50%;
        transform: translateX(-50%);
    }
}