.project {
    width: 100%;
    position: relative;
    border-radius: 4rem;
    overflow: hidden;
    display: flex;


    div.description,
    div.name,
    div.extension {
        width: 50%;
        border-radius: inherit;
        padding: 2rem 0;
    }

    div.description {
        display: flex;
        background-color: lighten(#1d1d1d, 5%);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
        padding: 2rem;
        left: 0;

        .repository {
            //width: 20%;
            padding-right: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 2.6rem;
                height: 2.6rem;
            }
        }

        div {

            //width: 80%;
            //padding: 1rem 2rem 1rem 0;
            // border: 1px solid white;
            //display: flex;
            flex-direction: column;
            justify-content: space-between;

            p.description {
                font-size: 1.2rem;
                line-height: 1.6rem;
                margin-bottom: 1.5rem;
            }

            p.keywords {
                display: flex;
                gap: .5rem;
                flex-wrap: wrap;

                .keyword {
                    text-decoration: none;
                    padding: .5rem .5rem;
                    background-color: #fff;
                    background-color: #1d1d1d;
                    border-radius: 1rem;

                    &:hover {
                        background-color: rgb(61, 61, 61);
                    }


                }

            }

        }
    }

    .name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: darken(#FF498C, 20%);
        right: 0;

        figure {
            position: absolute;
            top: 50%;
            left: 3rem;
            transform: translateY(-50%);
            height: 80px;
            width: 80px;
            border-radius: 50%;

            img {
                width: 100%;
            }
        }

        .title {

            flex-grow: 1;

            h3 {
                font-size: 3rem;
                text-align: center;
                padding: .5rem;
                position: relative;
            }

            h4 {
                font-size: 1.2rem;
                text-align: center;
                padding: .5rem;
                color: #fff;
            }

        }

    }

    .extension {
        position: absolute;
        background-color: lighten(#1d1d1d, 5%);
        border-right: none;
        //top: 0;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1050px) {
    .project {

        border-radius: 0;

        .name,
        .extension {
            display: none;
        }

        div.description {
            width: 100%;
            border-radius: 4rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .project {
        div.description {
            div {
                p.description {
                    margin: 0;
                }

                p.keywords {
                    display: none;
                }
            }
        }
    }
}