.project {
    width: 100%;
    position: relative;
    //background-color: #FF498C;
    border-radius: 4rem;
    margin-bottom: 1rem;
    height: 14rem;
    //border: 2px solid white;


    .description, .name, .extension {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        border-radius: inherit;
    }

    .description {
        background-color: #FF498C;
        left: 0;
    }

    .name {
        background-color: darken(#FF498C, 20%);
        right: 0;
    }

    .extension {
        background-color: #FF498C;
        left: 50%;
        transform: translateX(-50%);
    }
}