.project {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;

    figure {
        width: 22vh;
        height: 22vh;
        max-width: 180px;
        max-height: 180px;
        min-width: 132px;
        min-height: 132px;
        overflow: hidden;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            background-color: red;
        }
    }
}

@media screen and (max-width: 850px) {
    .project {
    
        figure {
            width: 18vh;
            height: 18vh;
        }
    }
}