.projects {
    height: 100%;
    // max-width: 1150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media screen and (max-width: 1000px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}