.project {
    width: auto;
    height: auto;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;

    figure {
        width: 90%;
        height: 90%;
        border: 1px solid red;
        overflow: hidden;
    }
}