.contacts {
    height: 100vh;
    background-color: #15263f;
    padding: 2rem;
    min-height: 600px;
    display: grid;
    grid-gap: 2rem;
    grid-template-areas:
        'header header'
        'image description';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 7fr;

}