.portfolio {
    height: 100vh;
    background-color: #15263f;
    padding: 2rem;
    min-height: 600px;
    display: grid;
    grid-gap: 2rem;
    grid-template-areas:
        'header'
        'main';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;

}

.main {
    grid-area: main;
    display: grid;
    grid-gap: 0rem 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}