@import '../../styles';

.about {
    height: 100vh;
    background-color: #15263f;
    padding: 2rem;
    min-height: 600px;
    display: grid;
    grid-gap: 2rem;
    grid-template-areas:
        'nav nav nav title title title title title title title home home home'
        'aside aside aside bio bio bio bio bio bio bio bio bio bio'
        'aside aside aside skills skills skills skills skills skills skills skills skills skills';
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr 8fr 1fr;

    h1 {
        font-size: $large;
        grid-area: title;
        height: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include decoration($large);

    }

    .home__icon {
        display: flex;
        justify-content: flex-end;
        grid-area: home;
    }


}