.about {
    height: auto;
    caret-color: transparent;
    padding: 2rem;
}

@media screen and (max-width: 500px) {
    .about {
        padding: 1rem;
    }
}

@media screen and (max-width: 350px) {
    .about {
        padding: .5rem;
    }
}