.infos {
    padding: 0 10rem;
    margin: 2rem 0 4rem 0;
    

    h1 {
        font-size: 3.3rem;
        text-align: center;
        margin-bottom: 4rem;
    }

    p {
        font-size: 1.3rem;
        line-height: 3rem;
    }
}

@media screen and (max-width: 1150px) {
    .infos {
        padding: 0 6rem;
    }
}

@media screen and (max-width: 820px) {
    .infos {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 768px) {
    .infos {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 600px) {
    .infos {
        padding: 0;

        p {
            font-size: 1.2rem;
            line-height: 2.25rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .infos {

        p {
            font-size: 1.1rem;
            line-height: 2rem;
        }
    }
}