.infos {
    height: 50%;
    display: flex;
    align-items: center;
    gap: 1rem;

    .image {
        width: 50%;
        height: 100%;
        background-color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 70%;
        }
    }

    .curriculum {
        width: 50%;
        height: 100%;
    }
}