.skill {

    .name {
        font-size: 1.5rem;
        margin-bottom: .6rem;
    }

    .bar {
        background-color: lighten(#FF498C, 15%);
        height: .25rem;
        border-radius: 2rem;

        .filling {
            background-color: darken(#FF498C, 15%);
            border-radius: inherit;
            height: 100%;
            position: relative;

            .tooltip {
                position: absolute;
                background-color: rgb(56, 56, 56);;
                bottom: 15px;
                right: 0;
                padding: .8rem;
                border-radius: .3rem;
                opacity: 0;
                transition: .5s;

                &::after {
                    content: '';
                    position: absolute;
                    width: 16px;
                    height: 10px;
                    background-color: inherit;
                    right: 3px;
                    bottom: -2px;
                    transform: rotateZ(45deg);
                }
            }
        }
    }

    &:hover .bar .filling .tooltip {
        opacity: 1;
    } 
}