.skills {
    padding: 0 10rem;
    margin: 2rem 0 4rem 0;   

    h2 {
        font-size: 3.3rem;
        text-align: center;
        margin-bottom: 4rem;
    }

    .skill__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }
}

@media screen and (max-width: 1150px) {
    .skills {
        padding: 0 6rem;
    }
}