.footer__header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.footer__header ul {
    display: flex;
    padding: 2rem;
    gap: 2rem;
    align-items: flex-end;
    justify-content: flex-end;
}

.footer__header ul li {
    opacity: 0;
    transform: rotateY(180deg);
}

.footer__header ul li img {
    opacity: 0;
}