.about {
    list-style: none;
    height: 90%;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    //gap: .25rem;
    cursor: pointer;

    p {
        position: absolute;
        font-size: 3rem;
        width: 100%;
        text-align: center;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        transition: .5s;
        z-index: 0;

        span {
            color: #FF498C;
        }
    }

    .left {
        flex-grow: 1;
        height: 100%;
        background-color: darken(#FF498C, 15%);
        transition: .5s;
        z-index: 1;
        border-right: 4px solid #1d1d1d;
    }

    .right {
        flex-grow: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FF498C;
        transition: .5s;
        position: relative;
        border-left: 4px solid #1d1d1d;
        z-index: 1;
    }

    &:hover p {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &:hover .left {
        transform: translateX(100%);
        opacity: 0;
    }

    &:hover .right {
        transform: translateX(-100%);
        opacity: 0;
    }
}