.contact {
    list-style: none;
    height: 90%;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    //border: 1px solid white;

    p {
        position: absolute;
        font-size: 3rem;
        width: 100%;
        text-align: center;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        transition: .5s;
        z-index: 0;

        span {
            color: #FF498C;
        }
    }

    .left {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FF498C;
        transform: rotateZ(25deg) scale(1.5) translateY(50%);
        transform-origin: center;
        transition: .5s;
    }

    .right {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: darken(#FF498C, 20%);
        transform: rotateZ(25deg) scale(1.5) translateY(-45%);
        transform-origin: center;
        border-bottom: 5px solid #1d1d1d;
        transition: .5s;
    }

    &:hover p {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &:hover .left {
        transform: translateY(100%);
        opacity: 0;
    }

    &:hover .right {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@media screen and (max-width: 1000px) {
    .contact {
        
        p {
            font-size: 2.8rem;
        }
    }
}