.laptop {
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 85%;
    }

    p {
        display: none;
        font-size: 2rem;
    }
}

@media screen and (max-width: 1000px) {

    .laptop {
        width: 100%;
        margin-bottom: 3rem;
        position: relative;

        img {
            width: 530px;
            padding-bottom: 3rem;

        }

        &:after {
            position: absolute;
            content: '';
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 0;
            height: 2px;
            width: 630px;
            background-color: #FF4975;
        }
    }

}