.laptop {
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 85%;
    }

    p {
        display: none;
        font-size: 2rem;
    }
}

@media screen and (max-width: 1000px) {
    
}