.hero {
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 3rem;
        padding: .8rem 0;
        //font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 400;
    }

    h2 {
        font-size: 1.5rem;
        padding: .8rem 0;
        //font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 400;
        color: darken(#fff, 25%);
    }
}