.home {
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
    caret-color: transparent;
}

@media screen and (max-width: 1000px) {
    .home {
        justify-content: center;
    }
}