.main {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;

    div {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //border: 1px solid white;
        padding-left: 8%;

        h1 {
            font-size: 3.5rem;
            line-height: 5.5rem;
            padding: 1.5rem;
            font-weight: 400;
        }
    
        h2 {
            opacity: .7;
            font-size: 1.25rem;
            padding: 1.5rem;
            font-weight: 400;
        }
    }


    figure {
        height: inherit;
        padding-right: 8%;
        //border: 1px solid white;
        display: flex;
        align-items: center;

        img {
            width: 100%;
        }
    }
}






/*&::after, &::before {
    content: '';
    position: absolute;
    background-color: #FF4975;

}

&::after {
    top: 50%;
    left: 0;
    width: .1rem;
    height: calc(100% + 4rem);
    transform: translate(0, -50%);
}

&::before {
    left: 50%;
    bottom: 0;
    height: .1rem;
    width: calc(100% + 4rem);
    transform: translate(-50%, 0);
}*/