.menu {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 2.7rem;
    width: 2.7rem;
    border: none;
    background-color: transparent;
    outline: none;
    display: none !important;
    cursor: pointer;

    .line {
        height: 5px;
        background-color: darken(#fff, 5%);
        border-radius: 3rem;
    }
}

@media screen and (max-width: 1000px) {

    .menu {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
    }

    .menu[data-open="true"] {
        justify-content: space-around !important;
        align-items: center !important;
    }

}