.main {
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .col {

        .motto {

            .line {
                display: block;
                font-size: 5vw;
                margin-bottom: 2rem;
                font-weight: 400;
                text-shadow: 3px 3px 3px darken(#FF4975, 25%);
            }
        }

        .small {
            color: darken(#fff, 25%);
            font-size: 1.8vw;
            font-weight: 400;
            padding-bottom: 3rem;
            border-bottom: 2px dotted #FF4975;
        }
    }
}