.main {
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //border: 1px solid white;

    .col {

        .motto {

            .line {
                display: block;
                font-size: 5vw;
                margin-bottom: 2rem;
                font-weight: 300;
            }
        }

        .small {
            color: darken(#fff, 25%);
            font-size: 2vw;
            font-weight: 300;
            padding-bottom: 3rem;
            border-bottom: 2px solid #FF4975;
        }
    }
}