.showroom {
    list-style: none;
    height: 90%;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    border-radius: 10rem;
    cursor: pointer;

    p {
        position: absolute;
        font-size: 3rem;
        width: 100%;
        text-align: center;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        transition: .5s;

        span {
            color: #FF498C;
        }
    }

    .left {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: darken(#FF498C, 15%);
        border-radius: inherit;
        border: .5rem solid #FF498C;
        z-index: 2;
        transform: translateX(-50%);
        transition: .5s;
    }

    .right {
        position: absolute;
        border-radius: inherit;
        width: 100%;
        height: 100%;
        background-color: #FF498C;
        transition: .5s;
    }

    &:hover p {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &:hover .left {
        transform: translateX(0);
        opacity: 0;
    }

    &:hover .right {
        opacity: 0;
    }
}