.contact {
    padding: 2rem;
    caret-color: transparent;
}

@media screen and (max-width: 500px) {
    .contact {
        padding: 1rem;
    }
}

@media screen and (max-width: 380px) {
    .contact {
        padding: .5rem;
    }
}
