.contact {
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
    background-color: #15263f;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 8fr 21fr;
    grid-template-areas:
        "nav"
        "main"
}

.main__contact {
    grid-area: main;
}

.nav {
    grid-area: nav;
}