.wrapper {

    padding: 0 10rem;
    margin: 2rem 0;

    h1 {
        font-size: 3.3rem;
        text-align: center;
        margin-bottom: 4rem;
    }

    .form {

        .row {
            display: flex;
            gap: 2rem;
        }

        .input {
            flex-grow: 1;
            position: relative;

            .err {
                position: absolute;
                bottom: .5rem;
                font-size: 1rem;
                left: 1rem;
                color: darken(#FF498C, 15%);
            }

            .text,
            .message {
                width: 100%;
                color: #1d1d1d;
                caret-color: #1d1d1d;
                margin-bottom: 2rem;
                padding: 1rem;
                outline: none;
                border: none;
                font-size: 1.1rem;
                overflow: hidden;
            }

            .message {
                resize: none;
                height: 10rem;
            }

        }
    }

    button {
        width: 100%;
        padding: .9rem 0;
        font-size: 1.5rem;
        background-color: darken(#FF498C, 20%);
        outline: none;
        border-radius: 2rem;
        border: none;
        cursor: pointer;
    }

    button:hover {
        opacity: .8;
    }
}