.back {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    backdrop-filter: blur(.08rem);
    background-color: rgba(134, 134, 134, 0.3);
}

.message {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1d1d;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    border-radius: .8rem;
    caret-color: transparent;

    .confirm {
        font-size: 3rem;
        color: #1d1d1d;
        position: relative;

        .loader {
            position: relative;
            width: 80px;
            height: 80px;

            .squareA,
            .squareB {
                position: absolute;
                height: 65%;
                width: 65%;
                border-radius: 50%;
            }

            .squareA {
                top: 0;
                left: 0;
                z-index: 1;
                background-color: darken(#FF498C, 15%);
                mix-blend-mode: screen;
            }

            .squareB {
                bottom: 0;
                right: 0;
                background-color: #FF498C;
            }
        }
    }
}