.header {
    height: 100vh;
    min-height: 600px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
    caret-color: transparent;
}

@media screen and (max-width: 500px) {
    .header {
        padding: 1rem;
    }
}

@media screen and (max-width: 350px) {
    .header {
        padding: .5rem;
    }
}