.header {
    //height: 100vh;
    min-height: 550px;
    max-height: 1368px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    caret-color: transparent;
}

@media screen and (max-width: 500px) {
    .header {
        padding: 1rem;
    }
}

@media screen and (max-width: 350px) {
    .header {
        padding: .5rem;
    }
}