.nav {
    flex-grow: 1;
    padding: 0 3rem;
    display: flex;
    align-items: center;

    ul {
        height: 230px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1150px) {
    .nav {
        padding: 0;

        ul {
            gap: 2rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .nav, .nav ul {
        align-items: flex-end;
    }
}