.credits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;

    .copyright, time {
        font-size: 1.3rem;
        color: darken(#fff, 25%);
        text-align: center;
    }

    .social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .credits {
        flex-direction: column-reverse;
        padding: 0;

        .social {
            margin-bottom: 3rem;        }
    }
}

@media screen and (max-width: 350px) {
    .credits {

        .copyright, time {
            font-size: 1rem;
        }

    }
}