.credits {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright, time {
        font-size: 1.3rem;
        color: darken(#fff, 25%);
    }

    .social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
}