.footer {
    padding: 3rem 2rem;
    position: relative;
}

@media screen and (max-width: 500px) {
    .footer {
        padding: 3rem 1rem;
    }
}

@media screen and (max-width: 350px) {
    .footer {
        padding: .5rem;
    }
}