$largest: 3rem;
$large: 2.3rem;
$small: 1.5rem;
$smallest: .9rem;


@mixin decoration($font_size, $hover: false) {
    span {
        position: relative;

        &:before,
        &:after {
            content: '';
            position: absolute;
            border-radius: 50%;
            height: calc($font_size / 3);;
            width: calc($font_size / 3);;
            background-color: #fff;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before {
            right: -#{$font_size};
        }

        &:after {
            left: -#{$font_size};
        }

        @if $hover {

            &:hover {
                text-shadow: 2.5px 5px 2.5px rgb(54, 54, 54);
            }

            &:hover:after,
            &:hover:before {
                box-shadow: 2.5px 5px 2.5px rgb(54, 54, 54);
            }

        }
    }
}