.hamburger {
    outline: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 3;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    background: conic-gradient(from 180deg at 50% 50%, #000000 0deg, rgba(0, 0, 0, 0) 360deg);
    filter: drop-shadow(0px 2px 2px rgba(179, 179, 179, 0.5));
    list-style: none;
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    padding: .6rem;
    cursor: pointer;
    caret-color: transparent;
    transition: 0.3s ease;

    .line {
        height: .35rem;
        background-color: #fff;
        border-radius: .4rem;
        transition: 0.3s ease;
    }

    .line:first-child {
        width: 75%;
    }

    .line:nth-child(2) {
        width: 45%;
    }

    .line:last-child {
        width: 100%;
    }
}

.open {

    .line {
        transform: translateX(240%);
    }

    .line:first-child {
        width: .35rem;
    }

    .line:nth-child(2) {
        width: .35rem;
    }

    .line:last-child {
        width: .35rem;
    }
}

@media screen and (max-width: 720px) {

    .hamburger {
        display: flex;
    }

}