.hamburger {
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 3;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: .45rem;
    height: 3.2rem;
    width: 3.2rem;
    // border: 1px solid white;
    
    cursor: pointer;
    caret-color: transparent;
    transition: 0.3s ease-out;

    .line {
        height: .35rem;
        background-color: #fff;
        border-radius: .4rem;
        transition: 0.3s ease;
    }

    .line:first-child {
        width: 75%;
    }

    .line:nth-child(2) {
        width: 45%;
    }

    .line:last-child {
        width: 100%;
    }
}

.open {

    transform: translateY(-50%) rotate(-90deg);

    .line {
        transform: translateX(240%);
    }

    .line:first-child {
        width: .35rem;
    }

    .line:nth-child(2) {
        width: .35rem;
    }

    .line:last-child {
        width: .35rem;
    }
}

@media screen and (max-width: 720px) {

    .hamburger {
        display: flex;
    }

}