nav.modal {
    position: absolute;
    display: none;
    background-color: #15263f;
    height: 40%;
    width: 96%;
    top: 2.5%;
    left: 50%;
    z-index: 1;

    ul {
        background: linear-gradient(180deg, rgba(151, 151, 151, 0.2) 0%, rgba(228, 227, 227, 0) 120%);
        border-radius: 2rem;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
}


@media screen and (max-width: 720px) {

    nav.modal {
        display: block;
    }

}