.nav {
    grid-area: nav;
    border: 1px solid red;

    ul {
        display: flex;
        padding: 2rem;
        gap: 2rem;
    }
}

.page {
    width: 25%;

    ul {
        padding: 0;
        gap: 0;
        justify-content: space-between;
    }
}