.nav {
    grid-area: nav;
    //border: 1px solid red;

    ul {
        display: flex;
        padding: 2rem;
        gap: 2rem;
    }
}

.page {
    width: 25%;

    ul {
        padding: 0;
        gap: 2rem;
        //justify-content: space-between;
    }
}

@media screen and (max-width: 950px) {
    .page {
        ul {
            gap: 0;
            justify-content: space-between;
        }
    }
}