@import '../styles.scss';

header nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__home {
    grid-area: nav;

    ul {
        padding: 2rem;
    }
}

.header__pages {

    grid-area: header;
    position: relative;

    nav.desktop {
        height: 100%;
    }

    h1 {
        font-size: $large;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        caret-color: transparent;

        @include decoration($large);

    }

}

@media screen and (max-width: 720px) {
    nav.desktop {
        display: none;
    }
}